body {
  margin: 0;
  padding: 0;
}

div .form-group {
  display: flex;
  flex-flow: row, wrap;
}

.main-content {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

.movie-list {
  background-color: #f3c623;
  display: flex;
  flex-flow: row wrap;
}

.movie-card {
  background-color: #127782;
  display: flex;
  padding: 20px;
  margin: 5px;
  flex: 1 20%;
  flex-flow: column wrap;
}

.movie-details {
  display: flex;
  flex-flow: column wrap;
}

.movie-trivia li {
  font-family: Arial, Helvetica, sans-serif;
}

button.btn {
  padding: 2px;
}

a.button {
  background-color: #519872;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.button-success {
  background-color: #108e1f;
}

a:hover  {
  background-color: #7fc767;
}

nav.top-navbar {
  background-color: #10375c;
  display: flex;
  overflow: hidden;
  top: 100px;
  height: 100;
  width: 100%;
}

div.nav-group {
  display: flex;
  padding: 10px;
  width: 100%;
}

div.align-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

div.align-left {
  align-items: flex-start;
}

.nav-item {
  font-size: large;
  margin: 5px;
}