<div class="row">
  <h1>Welcome to SFF movie franchise!</h1>
  <h3>Rent your movies here to be displayed at your studio</h3>
  <h3>You just have to create an account in the top right menu!</h3>
  <div class="col">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta numquam aliquam cumque similique recusandae non laudantium asperiores temporibus! Distinctio nulla, delectus necessitatibus itaque voluptas consectetur autem eos tempore asperiores.</p>
  </div>
</div>